.venv
data/data272560/*.zip
data/*.zip
data/stage2/*
mcfairmot_dla34_30e_1088x608_visdrone_vehicle_bytetracker
work/dataset/IKCEST/images
work/dataset/IKCEST/labels_with_ids
work/dataset/image_lists
PaddleDetection.zip

output/*

GHOST/__init__.py
GHOST/.gitignore
GHOST/env_from_history.yml
GHOST/LICENSE
GHOST/README.md
GHOST/.idea/.gitignore
GHOST/.idea/gtg_embedding_new.iml
GHOST/.idea/misc.xml
GHOST/.idea/modules.xml
GHOST/.idea/vcs.xml
GHOST/.idea/codeStyles/codeStyleConfig.xml
GHOST/.idea/inspectionProfiles/profiles_settings.xml
GHOST/ReID/LICENSE
GHOST/ReID/README.md
GHOST/ReID/config/config_market.yaml
GHOST/ReID/config/config_MOT.yaml
GHOST/ReID/data/__init__.py
GHOST/ReID/data/combine_sampler.py
GHOST/ReID/data/data_utility.py
GHOST/ReID/data/extract_market.py
GHOST/ReID/data/load_data.py
GHOST/ReID/data/MOTdata.py
GHOST/ReID/data/ReIDdata.py
GHOST/ReID/data/utils.py
GHOST/ReID/evaluation/__init__.py
GHOST/ReID/evaluation/mean_average_precision.py
GHOST/ReID/evaluation/utils.py
GHOST/ReID/net/__init__.py
GHOST/ReID/net/load_trained_net.py
GHOST/ReID/net/resnet.py
GHOST/ReID/net/utils.py
GHOST/ReID/tools/train_MOT.py
GHOST/ReID/tools/train.py
GHOST/ReID/utils/losses.py
GHOST/ReID/utils/RAdam.py
GHOST/ReID/utils/trainer.py
GHOST/ReID/utils/utils.py
GHOST/tools/investigate_feats.py
GHOST/tools/main_track.py
YOLOX/.gitignore
YOLOX/.pre-commit-config.yaml
YOLOX/.readthedocs.yaml
YOLOX/hubconf.py
YOLOX/LICENSE
YOLOX/MANIFEST.in
YOLOX/README.md
YOLOX/requirements.txt
YOLOX/setup.cfg
YOLOX/setup.py
YOLOX/.github/workflows/ci.yaml
YOLOX/.github/workflows/format_check.sh
YOLOX/assets/assignment.png
YOLOX/assets/demo.png
YOLOX/assets/dog.jpg
YOLOX/assets/git_fig.png
YOLOX/assets/logo.png
YOLOX/assets/sunjian.png
YOLOX/demo/MegEngine/cpp/build.sh
YOLOX/demo/MegEngine/cpp/README.md
YOLOX/demo/MegEngine/cpp/yolox.cpp
YOLOX/demo/MegEngine/python/build.py
YOLOX/demo/MegEngine/python/convert_weights.py
YOLOX/demo/MegEngine/python/demo.py
YOLOX/demo/MegEngine/python/dump.py
YOLOX/demo/MegEngine/python/README.md
YOLOX/demo/MegEngine/python/models/__init__.py
YOLOX/demo/MegEngine/python/models/darknet.py
YOLOX/demo/MegEngine/python/models/network_blocks.py
YOLOX/demo/MegEngine/python/models/yolo_fpn.py
YOLOX/demo/MegEngine/python/models/yolo_head.py
YOLOX/demo/MegEngine/python/models/yolo_pafpn.py
YOLOX/demo/MegEngine/python/models/yolox.py
YOLOX/demo/ncnn/README.md
YOLOX/demo/ncnn/android/build.gradle
YOLOX/demo/ncnn/android/gradlew
YOLOX/demo/ncnn/android/gradlew.bat
YOLOX/demo/ncnn/android/README.md
YOLOX/demo/ncnn/android/settings.gradle
YOLOX/demo/ncnn/android/app/build.gradle
YOLOX/demo/ncnn/android/app/src/main/AndroidManifest.xml
YOLOX/demo/ncnn/android/app/src/main/assets/yolox.param
YOLOX/demo/ncnn/android/app/src/main/java/com/megvii/yoloXncnn/MainActivity.java
YOLOX/demo/ncnn/android/app/src/main/java/com/megvii/yoloXncnn/YOLOXncnn.java
YOLOX/demo/ncnn/android/app/src/main/java/com/megvii/yoloXncnn/yoloXncnn.java
YOLOX/demo/ncnn/android/app/src/main/jni/CMakeLists.txt
YOLOX/demo/ncnn/android/app/src/main/jni/yoloXncnn_jni.cpp
YOLOX/demo/ncnn/android/app/src/main/res/layout/main.xml
YOLOX/demo/ncnn/android/app/src/main/res/values/strings.xml
YOLOX/demo/ncnn/android/gradle/wrapper/gradle-wrapper.jar
YOLOX/demo/ncnn/android/gradle/wrapper/gradle-wrapper.properties
YOLOX/demo/ncnn/cpp/README.md
YOLOX/demo/ncnn/cpp/yolox.cpp
YOLOX/demo/nebullvm/nebullvm_optimization.py
YOLOX/demo/nebullvm/README.md
YOLOX/demo/ONNXRuntime/onnx_inference.py
YOLOX/demo/ONNXRuntime/README.md
YOLOX/demo/OpenVINO/README.md
YOLOX/demo/OpenVINO/cpp/CMakeLists.txt
YOLOX/demo/OpenVINO/cpp/README.md
YOLOX/demo/OpenVINO/cpp/yolox_openvino.cpp
YOLOX/demo/OpenVINO/python/openvino_inference.py
YOLOX/demo/OpenVINO/python/README.md
YOLOX/demo/TensorRT/cpp/CMakeLists.txt
YOLOX/demo/TensorRT/cpp/logging.h
YOLOX/demo/TensorRT/cpp/README.md
YOLOX/demo/TensorRT/cpp/yolox.cpp
YOLOX/demo/TensorRT/python/README.md
YOLOX/docs/.gitignore
YOLOX/docs/assignment_visualization.md
YOLOX/docs/cache.md
YOLOX/docs/conf.py
YOLOX/docs/freeze_module.md
YOLOX/docs/index.rst
YOLOX/docs/Makefile
YOLOX/docs/manipulate_training_image_size.md
YOLOX/docs/mlflow_integration.md
YOLOX/docs/model_zoo.md
YOLOX/docs/quick_run.md
YOLOX/docs/requirements-doc.txt
YOLOX/docs/train_custom_data.md
YOLOX/docs/updates_note.md
YOLOX/docs/_static/css/custom.css
YOLOX/docs/demo/megengine_cpp_readme.md
YOLOX/docs/demo/megengine_py_readme.md
YOLOX/docs/demo/ncnn_android_readme.md
YOLOX/docs/demo/ncnn_cpp_readme.md
YOLOX/docs/demo/onnx_readme.md
YOLOX/docs/demo/openvino_cpp_readme.md
YOLOX/docs/demo/openvino_py_readme.md
YOLOX/docs/demo/trt_cpp_readme.md
YOLOX/docs/demo/trt_py_readme.md
YOLOX/exps/default/__init__.py
YOLOX/exps/default/yolov3.py
YOLOX/exps/default/yolox_l.py
YOLOX/exps/default/yolox_m.py
YOLOX/exps/default/yolox_nano.py
YOLOX/exps/default/yolox_s.py
YOLOX/exps/default/yolox_tiny.py
YOLOX/exps/default/yolox_x.py
YOLOX/exps/example/custom/nano.py
YOLOX/exps/example/custom/yolox_s.py
YOLOX/exps/example/yolox_voc/yolox_voc_s.py
YOLOX/tests/__init__.py
YOLOX/tests/utils/test_model_utils.py
YOLOX/tools/__init__.py
YOLOX/tools/demo.py
YOLOX/tools/eval.py
YOLOX/tools/export_onnx.py
YOLOX/tools/export_torchscript.py
YOLOX/tools/train.py
YOLOX/tools/trt.py
YOLOX/tools/visualize_assign.py
YOLOX/yolox/__init__.py
YOLOX/yolox/core/__init__.py
YOLOX/yolox/core/launch.py
YOLOX/yolox/core/trainer.py
YOLOX/yolox/data/__init__.py
YOLOX/yolox/data/data_augment.py
YOLOX/yolox/data/data_prefetcher.py
YOLOX/yolox/data/dataloading.py
YOLOX/yolox/data/samplers.py
YOLOX/yolox/data/datasets/__init__.py
YOLOX/yolox/data/datasets/coco_classes.py
YOLOX/yolox/data/datasets/coco.py
YOLOX/yolox/data/datasets/datasets_wrapper.py
YOLOX/yolox/data/datasets/mosaicdetection.py
YOLOX/yolox/data/datasets/voc_classes.py
YOLOX/yolox/data/datasets/voc.py
YOLOX/yolox/evaluators/__init__.py
YOLOX/yolox/evaluators/coco_evaluator.py
YOLOX/yolox/evaluators/voc_eval.py
YOLOX/yolox/evaluators/voc_evaluator.py
YOLOX/yolox/exp/__init__.py
YOLOX/yolox/exp/base_exp.py
YOLOX/yolox/exp/build.py
YOLOX/yolox/exp/yolox_base.py
YOLOX/yolox/exp/default/__init__.py
YOLOX/yolox/layers/__init__.py
YOLOX/yolox/layers/fast_coco_eval_api.py
YOLOX/yolox/layers/jit_ops.py
YOLOX/yolox/layers/cocoeval/cocoeval.cpp
YOLOX/yolox/layers/cocoeval/cocoeval.h
YOLOX/yolox/models/__init__.py
YOLOX/yolox/models/build.py
YOLOX/yolox/models/darknet.py
YOLOX/yolox/models/losses.py
YOLOX/yolox/models/network_blocks.py
YOLOX/yolox/models/yolo_fpn.py
YOLOX/yolox/models/yolo_head.py
YOLOX/yolox/models/yolo_pafpn.py
YOLOX/yolox/models/yolox.py
YOLOX/yolox/tools/__init__.py
YOLOX/yolox/utils/__init__.py
YOLOX/yolox/utils/allreduce_norm.py
YOLOX/yolox/utils/boxes.py
YOLOX/yolox/utils/checkpoint.py
YOLOX/yolox/utils/compat.py
YOLOX/yolox/utils/demo_utils.py
YOLOX/yolox/utils/dist.py
YOLOX/yolox/utils/ema.py
YOLOX/yolox/utils/logger.py
YOLOX/yolox/utils/lr_scheduler.py
YOLOX/yolox/utils/metric.py
YOLOX/yolox/utils/mlflow_logger.py
YOLOX/yolox/utils/model_utils.py
YOLOX/yolox/utils/setup_env.py
YOLOX/yolox/utils/visualize.py
jersey-number-pipeline/centroid_reid.py
jersey-number-pipeline/configuration.py
jersey-number-pipeline/gaussian_outliers.py
jersey-number-pipeline/helpers.py
jersey-number-pipeline/jersey_number_dataset.py
jersey-number-pipeline/license.txt
jersey-number-pipeline/main.py
jersey-number-pipeline/networks.py
jersey-number-pipeline/number_classifier.py
jersey-number-pipeline/pose.py
jersey-number-pipeline/README.md
jersey-number-pipeline/setup.py
jersey-number-pipeline/str.py
jersey-number-pipeline/data/.gitignore
jersey-number-pipeline/docs/soccer_pipeline.pdf
jersey-number-pipeline/docs/soccer_pipeline.png
jersey-number-pipeline/experiments/.gitignore
jersey-number-pipeline/models/.gitignore
jersey-number-pipeline/pose/.gitignore
jersey-number-pipeline/reid/.gitignore
jersey-number-pipeline/str/parseq/.gitignore
jersey-number-pipeline/str/parseq/bench.py
jersey-number-pipeline/str/parseq/Datasets.md
jersey-number-pipeline/str/parseq/hubconf.py
jersey-number-pipeline/str/parseq/LICENSE
jersey-number-pipeline/str/parseq/Makefile
jersey-number-pipeline/str/parseq/NOTICE
jersey-number-pipeline/str/parseq/pyproject.toml
jersey-number-pipeline/str/parseq/read.py
jersey-number-pipeline/str/parseq/README.md
jersey-number-pipeline/str/parseq/test.py
jersey-number-pipeline/str/parseq/train.py
jersey-number-pipeline/str/parseq/tune.py
jersey-number-pipeline/str/parseq/.github/contexts-example.png
jersey-number-pipeline/str/parseq/.github/gh-teaser.png
jersey-number-pipeline/str/parseq/.github/system.png
jersey-number-pipeline/str/parseq/configs/bench.yaml
jersey-number-pipeline/str/parseq/configs/main.yaml
jersey-number-pipeline/str/parseq/configs/tune.yaml
jersey-number-pipeline/str/parseq/configs/charset/36_lowercase.yaml
jersey-number-pipeline/str/parseq/configs/charset/62_mixed-case.yaml
jersey-number-pipeline/str/parseq/configs/charset/94_full.yaml
jersey-number-pipeline/str/parseq/configs/dataset/real.yaml
jersey-number-pipeline/str/parseq/configs/dataset/synth.yaml
jersey-number-pipeline/str/parseq/configs/experiment/abinet-sv.yaml
jersey-number-pipeline/str/parseq/configs/experiment/abinet.yaml
jersey-number-pipeline/str/parseq/configs/experiment/crnn.yaml
jersey-number-pipeline/str/parseq/configs/experiment/parseq-patch16-224.yaml
jersey-number-pipeline/str/parseq/configs/experiment/parseq-tiny.yaml
jersey-number-pipeline/str/parseq/configs/experiment/parseq.yaml
jersey-number-pipeline/str/parseq/configs/experiment/trba.yaml
jersey-number-pipeline/str/parseq/configs/experiment/trbc.yaml
jersey-number-pipeline/str/parseq/configs/experiment/tune_abinet-lm.yaml
jersey-number-pipeline/str/parseq/configs/experiment/vitstr.yaml
jersey-number-pipeline/str/parseq/configs/model/abinet.yaml
jersey-number-pipeline/str/parseq/configs/model/crnn.yaml
jersey-number-pipeline/str/parseq/configs/model/parseq.yaml
jersey-number-pipeline/str/parseq/configs/model/trba.yaml
jersey-number-pipeline/str/parseq/configs/model/vitstr.yaml
jersey-number-pipeline/str/parseq/demo_images/art-01107.jpg
jersey-number-pipeline/str/parseq/demo_images/coco-1166773.jpg
jersey-number-pipeline/str/parseq/demo_images/cute-184.jpg
jersey-number-pipeline/str/parseq/demo_images/ic13_word_256.png
jersey-number-pipeline/str/parseq/demo_images/ic15_word_26.png
jersey-number-pipeline/str/parseq/demo_images/uber-27491.jpg
jersey-number-pipeline/str/parseq/models/.gitignore
jersey-number-pipeline/str/parseq/requirements/bench.in
jersey-number-pipeline/str/parseq/requirements/bench.txt
jersey-number-pipeline/str/parseq/requirements/constraints.txt
jersey-number-pipeline/str/parseq/requirements/core.in
jersey-number-pipeline/str/parseq/requirements/core.txt
jersey-number-pipeline/str/parseq/requirements/test.in
jersey-number-pipeline/str/parseq/requirements/test.txt
jersey-number-pipeline/str/parseq/requirements/train.in
jersey-number-pipeline/str/parseq/requirements/train.txt
jersey-number-pipeline/str/parseq/requirements/tune.in
jersey-number-pipeline/str/parseq/requirements/tune.txt
jersey-number-pipeline/str/parseq/strhub/__init__.py
jersey-number-pipeline/str/parseq/strhub/data/__init__.py
jersey-number-pipeline/str/parseq/strhub/data/aa_overrides.py
jersey-number-pipeline/str/parseq/strhub/data/augment.py
jersey-number-pipeline/str/parseq/strhub/data/dataset.py
jersey-number-pipeline/str/parseq/strhub/data/module.py
jersey-number-pipeline/str/parseq/strhub/data/utils.py
jersey-number-pipeline/str/parseq/strhub/models/__init__.py
jersey-number-pipeline/str/parseq/strhub/models/base.py
jersey-number-pipeline/str/parseq/strhub/models/modules.py
jersey-number-pipeline/str/parseq/strhub/models/utils.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/__init__.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/attention.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/backbone.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/LICENSE
jersey-number-pipeline/str/parseq/strhub/models/abinet/model_abinet_iter.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/model_alignment.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/model_language.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/model_vision.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/model.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/resnet.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/system.py
jersey-number-pipeline/str/parseq/strhub/models/abinet/transformer.py
jersey-number-pipeline/str/parseq/strhub/models/crnn/__init__.py
jersey-number-pipeline/str/parseq/strhub/models/crnn/LICENSE
jersey-number-pipeline/str/parseq/strhub/models/crnn/model.py
jersey-number-pipeline/str/parseq/strhub/models/crnn/system.py
jersey-number-pipeline/str/parseq/strhub/models/parseq/__init__.py
jersey-number-pipeline/str/parseq/strhub/models/parseq/modules.py
jersey-number-pipeline/str/parseq/strhub/models/parseq/system.py
jersey-number-pipeline/str/parseq/strhub/models/trba/__init__.py
jersey-number-pipeline/str/parseq/strhub/models/trba/feature_extraction.py
jersey-number-pipeline/str/parseq/strhub/models/trba/model.py
jersey-number-pipeline/str/parseq/strhub/models/trba/prediction.py
jersey-number-pipeline/str/parseq/strhub/models/trba/system.py
jersey-number-pipeline/str/parseq/strhub/models/trba/transformation.py
jersey-number-pipeline/str/parseq/strhub/models/vitstr/__init__.py
jersey-number-pipeline/str/parseq/strhub/models/vitstr/model.py
jersey-number-pipeline/str/parseq/strhub/models/vitstr/system.py
jersey-number-pipeline/str/parseq/tools/art_converter.py
jersey-number-pipeline/str/parseq/tools/case_sensitive_str_datasets_converter.py
jersey-number-pipeline/str/parseq/tools/coco_2_converter.py
jersey-number-pipeline/str/parseq/tools/coco_text_converter.py
jersey-number-pipeline/str/parseq/tools/create_lmdb_dataset.py
jersey-number-pipeline/str/parseq/tools/filter_lmdb.py
jersey-number-pipeline/str/parseq/tools/lsvt_converter.py
jersey-number-pipeline/str/parseq/tools/mlt19_converter.py
jersey-number-pipeline/str/parseq/tools/openvino_converter.py
jersey-number-pipeline/str/parseq/tools/test_abinet_lm_acc.py
jersey-number-pipeline/str/parseq/tools/textocr_converter.py
jersey-number-pipeline/.gitignore
jersey-number-pipeline/data/.gitignore
jersey-number-pipeline/experiments/.gitignore
jersey-number-pipeline/models/.gitignore
jersey-number-pipeline/pose/.gitignore
jersey-number-pipeline/reid/.gitignore
jersey-number-pipeline/str/parseq/models/.gitignore
jersey-number-pipeline/data/.gitignore
jersey-number-pipeline/experiments/.gitignore
jersey-number-pipeline/models/.gitignore
jersey-number-pipeline/pose/.gitignore
jersey-number-pipeline/reid/.gitignore
jersey-number-pipeline/str/parseq/models/.gitignore


GHOST/datasets/*
GHOST/out/*
jersey-number-pipeline/out/*
YOLOX/datasets/*

*.pyc
*.mp4
.git-bak